language: rust
cache: cargo
rust:
- nightly

notifications:
  email: false

addons:
  postgresql: "10"
  apt:
    packages:
    - postgresql-10
    - postgresql-client-10

before_script:
  - sudo -u postgres psql -c 'create database travis_ci_test;' -U postgres
  - cargo install diesel_cli --no-default-features --features postgres
  - diesel migration run

after_script:
  - sudo -u postgres psql -c 'drop database travis_ci_test;' -U postgres

env:
  global:
  - PGPORT=5433
  - DATABASE_URL="postgres://postgres@localhost:5433/travis_ci_test"
  - secure: PDHTadI2oj4YgUTl/RpWUQBS1NByOo6XNizvGI74AnN/A3/Ep2TaTmrsGIQQflVR9xg1Oek+Z7/6g4SDMjsrOXbfL1O3iw/XRwIKyNnR4LXg66bv1s/fNNmtcABja6xEEixv5SIjHz0y/C+LZfCqoZVMgQ/mjl/TUVVgHfFe9my/OMf1lXvm22adr8Ur8LuuOFV87KKZoi2rddes78pWW2tFDFVT62MeCih+f63NwJIQ8HjMuLJj0TCyZuBY1fKqBEP0PQXxhedvOHoGHGfOI4bD1Fo9Azi0JiMStr9+AIolV0gg2S3qavIYk3tojhGqTZE7Y0ogmmAk20rClbnO7QF8JllVlhMlapt8HEI+mQSw35HREKWIECgDDj6+Hx2oHNEjqOlkoFfK5oYdIv/DKUo92N1mS3HmFlUEAMTZDkTuJkjSNxGHzjYLRfH8krUc+AQvjw1bmgfR7kzjbALUvGYVQsNjGda8ci3INN0aBa0ddgBGfn8ro7ueJEBPW9YmlLopiYLJH4VvTopZZmNv4a5Y0k1scW0MZfCoAdL7PEm0DCsJydIWiTakLwhh4FCfBxWooZxGKbIqDeei0fjZtXz2DHS2liaHHn2XP4BiMnEGb9J6G89xobbyk3K0QsNtQmqCsVwJf+OFEG2B8wiRbI4JL4mhwfnUL+phtTiqdMg=
  - secure: RVHtdp8KiAMAaDxvMZUNIV5RGJz0EMdBgnvXLQu1/R6oQLjqQH0vCTuGRkkgfPypCV+MBd3/niw5BW8fckd93UDlM+M/7zaNYEj5u07W1IuXyc20ZKnY1X3YDL2k3Eq3vODvOwD8Q8VAfJmBU8IPKWO5cyjQUKdIMVcnDHGtRvAORG9v1Wr/HIlX9sAuwKdNLVsb0TRfPZWaFafWvZwLfuM3M2y6Mg7t/DBiQU52/17y6Efh1Un5UiYf6X25jq61ZypvGFFFfpskm71nTP25EzPAZZmIaBYhfzW/F2taQR5w+FBhrOzdL8rTbaxA6GD7E6w5LerUxAviNzka4q2rFC1JR87YEx5Eg7Wkf3RPDYzZ2QbQCANvH0WBVD9hx+42mEg8S49BOgyOa9V+w7f5yF68KDDqBYrHdb6kh2nqCpYCra0Z2tdkqXsLywb5pDlX3iwqM59hKgKt64WCCwFudC465X5mq9ObcxFjhBBE8XDHwz9hUd16sKOHe1EDPmLe5ysxjTp7UW6QK5eWyscCNd5MnRmXZ4jMyAmCTCsrxCQzIxYaqSRYgX60Hi6DA/yzXGCiIDaB8vzHjiJnAYGIbqxlIwwytle5pipLqu0snXJsWCgTEENcClNfa1p5gGSfNNt5rTuG+g0G5fiR28+YwaSPHRTU2GXDq6mf6hxKUJo=
  - secure: bk/fcyVNkdcqzbGUNqwCgqkR7oSDXe+7ryvK8M22zycUEMjAdQ4WOydrWgCRYXn8Z3qBCOEWEBnIXhUV5XcgWcqMWJXznQnRgFlQSPf8ubRBEauN5G4FEWtbzuM0sVTuI8Hm63kUmaSPMZ39kYTDTry4hG/NwaQGQMjBAY18Kxna1ZMxluogXyIyD8FzAn7fhwxpV33aieqd3i+krnOavhULICfO2X/kPzyyYwtJKVnJAx6I1Xic208ek26TgwBCus/ycNXewFvsUVzRG3CRzWQa9/8C+07m/T8WjcN1bW8mfZC+Qfb0jJkz4KFf7NmzLTm7UPc7m1znnEKcmD8oYxeIeBsp6FmmSb/9IK3oUeN7CKs+qjOa2XqUB9AednSJZ+F26MSJA6DrBD1NgNDzBKshr2I6y1R7h6bbbaFY4uoxFPG+SEsImhvTqRPlz0fm6GEhzsxWXmG13GLHiWUHBS0+4BDeP7PYifEO8UziG55DbGjjZh4/ZfLR9TBMi8Hvd4LhKelyBBON0rsQEpJB57u5rp/Zwh+3Pz+LtaTk2R3tgip6d+5WFxwm+z8H1ovKJkUWPv2YR7Wd1vaWVe0EknFoBeTOlJzHcrIqCz8lcTQbz6Igy1EKlIkC0xk2/J/r1l1P85PPst4uzS8xWDA9WJjnC1gIsxowsgFFkmgai/c=
  - secure: Spc2vig4rf9J40e0zLVQ/R+wP7VDlNdBvBibvV+PdLkGQCWSyZpD5d7juZyfF43OUlxNNkh5c1Qxa1/Wtg+eZoQ0xq67GPSpQ6BO2rwRpA4NtsDSWiVxLu11lrlNx4Et4b0hixcSSV94+g6tLEoXoUZSyPDlfwUd3WDecJWW+w4U32OCC69hofZ3aASOU1+ASkI8el75o2TDtAfzQNHXpmatBBfLvE5upGs6LBUm1H3TZBjsibni2319SBEu0XIeRSXE2mW3TtvTwQOmr6BYIT8ATe1o1M8QjpWtJUf9gDxw0ptFgK52Gg9XHJM2rPGA7dZkqCsR7x0Xx6resv2oNAYh6XdX07RwOur0v2YcJaLnKOoMqDsvuzoaAWiTMKwe5HyDWo3v2FVNoZSSChu3Nz6wjCBuqxmLLnLrzUDqB+LgLJcAPWYTc6Rer/bMC4ozIBW1pu4zUPk2cqcUKQPF852nhkC5lPDc1VazP0YG34viNRbmKK6NtODgW+KyIN/kEp3WUFqB/fY2aCdoJpOV4AoW75aUvOxVTMCfYuettDveThA3OEh2n5njRQjrIo9pCCTlgRIs0xR863hkZiVG7tjNmAt2Svo+0ulU1iqWy+vUNjsD6SySTsVw3PYWamLN5g7pkpTECNRqpDDtLi2XozWvnmRUrNTM3jAE8/n3TCg=
